Repository act-rules/act-rules.github.io, pull requests merged in 2018-10, with the labels that each got.

#271 Update atomic keyboard trap rules
  _rules/SC2-1-2-no-keyboard-trap-non-standard-navigation.md
Labels: Rule, bug

#222 Rule: SC4-1-2-iframe-has-name
  _rules/SC4-1-2-iframe-has-name.md
  test-assets/SC4-1-2-frame-doc.html
Labels: Rule, reviewer wanted, september-agenda

#282 Removed SC from atomic keyboard trap rule
  _rules/SC2-1-2-no-keyboard-trap-standard-navigation.md
Labels: Rule, enhancement

#279 Update name of html-xml-lang-match rule
  _rules/SC3-1-1-html-xml-lang-match.md
Labels: Rule

#272 Remove redundant glossary items
  pages/algorithms/text-alternative-computation.md
  pages/algorithms/valid-text-alternative.md
Labels: Chore, reviewer wanted

#275 generic-placeholder-text.md
  pages/algorithms/generic-placeholder-text.md
Labels: Definition, reviewer wanted

#167 Rule: SC4-1-2-role-has-required-states-and-properties
  _drafts/SC4-1-2-role-has-required-states-and-properties.md
  _rules/SC4-1-2-role-has-required-states-and-properties.md
Labels: Rule, reviewer wanted, september-agenda

#257 SC4-1-1+SC4-1-2-aria-allowed-attribute
  _rules/SC4-1-1+SC4-1-2-aria-allowed-attribute.md
Labels: Rule, reviewer wanted, september-agenda

#288 Styling fixed in SC2-1-2-no-keyboard-trap-non-...
  _rules/SC2-1-2-no-keyboard-trap-non-standard-navigation.md
Labels: Rule, bug, reviewer wanted

#286 chore: front matter for rule (video has captions)
  _rules/SC1-2-2-video-has-captions.md
Labels: Chore

#293 Styling fixed in SC2-1-2-no-keyboard-trap-standard-navigation
  _rules/SC2-1-2-no-keyboard-trap-standard-navigation.md
Labels: Rule, bug, reviewer wanted

#203 Add composite rule template
  pages/design/atomic-template-empty.md
  pages/design/composite-template-empty.md
  pages/design/rule-template-empty.md
  pages/design/rule-template.md
Labels: Chore, august-agenda, reviewer wanted

#269 "Included in accessibility tree" instead of "exposed to assistive technologies"
  _rules/SC1-1-1-image-has-name.md
  _rules/SC1-2-1-media-alternative-audio.md
  _rules/SC1-2-1-media-alternative-video.md
  _rules/SC1-2-2-audio-captions.md
  _rules/SC1-3-5-autocomplete-valid.md
  _rules/SC2-1-2-no-keyboard-trap-non-standard-navigation.md
  _rules/SC2-4-4-link-has-name.md
  _rules/SC3-3-2-form-field-has-name.md
  _rules/SC4-1-2-button-has-name.md
  pages/algorithms/exposed-to-assistive-technologies.md
  pages/algorithms/included-in-the-accessibility-tree.md
Labels: Definition, october-agenda

#294 Add examples of syntactically invalid language attributes
  _rules/SC3-1-1-html-lang-valid.md
  _rules/SC3-1-2-lang-valid.md
Labels: october-agenda

#243 Documentation: "Contribute" page expanded
  pages/contribute.md
Labels: Chore

#252 Update and rename SC2-2-1+SC3-2-5-meta-refresh.md to SC2-2-1+SC2-2-4-…
  _rules/SC2-2-1+SC2-2-4-meta-refresh.md
Labels: Rule, bug

#318 Keyboard trap - Editorial changes
  _rules/SC2-1-2-no-keyboard-trap-non-standard-navigation.md
  _rules/SC2-1-2-no-keyboard-trap-standard-navigation.md
  _rules/SC2-1-2-no-keyboard-trap.md
Labels: Rule, bug

#273 SC4-1-2-role-attribute-has-valid-value
  _rules/SC4-1-2-role-attribute-has-valid-value.md
Labels: Rule, reviewer wanted

#324 chore: adding filter sort capability for the rules table
  _layouts/default.html
  assets/css/base.scss
  pages/rules.html
Labels: Chore, enhancement, reviewer wanted

#322 chore: change references to included in accessibility tree
  _rules/SC1-2-1-media-alternative-audio.md
  _rules/SC1-2-1-media-alternative-video.md
  _rules/SC2-4-4-link-has-name.md
  _rules/SC4-1-1-unique-id.md
  _rules/SC4-1-2-button-has-name.md
  _rules/SC4-1-2-iframe-has-name.md
  _rules/SC4-1-2-role-attribute-has-valid-value.md
  pages/algorithms/accessible-name.md
  pages/design/definition-of-done.md
Labels: Chore, enhancement, reviewer wanted

#307 Clarification on "more than 20 hours" requirement for SC2-2-1+SC3-2-5-meta-refresh
  _rules/SC2-2-1+SC2-2-4-meta-refresh.md
Labels: Rule, bug

#320 chore: change definitions to glossary
  _config.yml
  _layouts/default.html
  _layouts/glossary.html
  _layouts/rule.html
  _plugins/glossary_generator.rb
  assets/css/base.scss
  pages/algorithms/index.md
  pages/glossary/accessible-name.md
  pages/glossary/appropriate-field-for-the-form-control.md
  pages/glossary/audio-output.md
  pages/glossary/content.md
  pages/glossary/correct-autocomplete-field.md
  pages/glossary/decorative.md
  pages/glossary/focusable.md
  pages/glossary/generic-placeholder-text.md
  pages/glossary/included-in-the-accessibility-tree.md
  pages/glossary/index.md
  pages/glossary/interactive-element.md
  pages/glossary/is-data-table.md
  pages/glossary/lang-identification.md
  pages/glossary/non-empty.md
  pages/glossary/non-streaming-media-element.md
  pages/glossary/rendered-text.md
  pages/glossary/semantic-role.md
  pages/glossary/short-text-description.md
  pages/glossary/standard-keyboard-navigation.md
  pages/glossary/surrounding-text.md
  pages/glossary/text-content.md
  pages/glossary/valid-language-subtag.md
  pages/glossary/visible-on-the-page.md
  pages/glossary/visible-text-content.md
  pages/glossary/visual-output.md
Labels: Chore, enhancement, reviewer wanted

#311 Update aria-allowed-attribute: No overlap with aria-valid-attribute + elements with no role
  _rules/SC4-1-1+SC4-1-2-aria-allowed-attribute.md
Labels: Rule, bug

#291 Create implementations overview page
  .gitignore
  _layouts/default.html
  _plugins/report_data_generator.rb
  assets/css/base.scss
  pages/implementations.md
  pages/rules.html
  report/example.json
Labels: Chore, october-agenda, reviewer wanted

#231 Rule: SC4-1-2-aria-attr-valid
  _rules/SC4-1-2-aria-attr-valid.md
Labels: Rule, reviewer wanted

#254 Update definition of "accessible name"
  _rules/SC2-5-3-label-content-name-mismatch.md
  pages/glossary/accessible-name.md
Labels: Definition, enhancement, october-agenda, reviewer wanted

#233 SC4-1-2-aria-state-or-property-value-valid
  _rules/SC4-1-2-aria-state-or-property-has-valid-value.md
Labels: Rule, september-agenda

#285 Update SC4-1-1-unique-id with missing information
  _rules/SC4-1-1-unique-id.md
Labels: Rule, bug

#304 Remove CSS Styling from test_aspects where not used
  _rules/SC4-1-1+SC4-1-2-aria-allowed-attribute.md
  _rules/SC4-1-2-role-has-required-states-and-properties.md
Labels: Rule, bug

#323 SC-2-4-6-descriptive-labels
  _rules/SC2-4-6-descriptive-labels.md
Labels: Rule, reviewer wanted

#284 SC2-4-6-descriptive-headings
  _rules/SC2-4-6-descriptive-headings.md
  pages/algorithms/section-of-content.md
Labels: Definition, Rule, reviewer wanted
