Repository act-rules/act-rules.github.io, pull requests merged in 2018-11, with the labels that each got.

#310 Remove "focusable" and "is visible" from Applicability in several rules due to consistency concerns
  _rules/SC1-2-2-audio-captions.md
  _rules/SC1-3-5-autocomplete-valid.md
  _rules/SC2-4-4-link-has-name.md
  _rules/SC3-3-2+SC4-1-2-form-field-has-name.md
  _rules/SC4-1-2-button-has-name.md
Labels: Rule, bug, november-agenda

#332 Rule: SC4-1-1-unique-attrs
  _drafts/outdated/SC4-1-1-accesskey.md
  _drafts/outdated/SC4-1-1-unique-attrs.md
  _rules/SC4-1-1-unique-attrs.md
  pages/glossary/source-code.md
Labels: Definition, Rule, november-agenda

#334 filename.md
  pages/glossary/filename.md
Labels: Definition
