Repository act-rules/act-rules.github.io, pull requests merged in 2019-08, with the labels that each got.

#731 fix: update test assets being referred for media rules (f51b46, ab4d13, c3232f, fd26cf, 1ec09b, c5a4ea)
  _rules/video-has-captions-f51b46.md
  _rules/video-media-alternative-ab4d13.md
  _rules/video-only-alternative-c3232f.md
  _rules/video-only-media-alternative-fd26cf.md
  _rules/video-with-audio-has-audio-description-1ec09b.md
  _rules/video-with-audio-has-description-or-transcript-c5a4ea.md
Labels: Chore

#689 Define implicit/explicit role (4e8ab6, b20e66, c487ae, e086e5, 5c01ea)
  _rules/aria-state-or-property-allowed-5c01ea.md
  _rules/form-field-has-name-e086e5.md
  _rules/link-has-name-c487ae.md
  _rules/links-with-identical-names-serve-equivalent-purpose-b20e66.md
  _rules/role-has-required-states-and-properties-4e8ab6.md
  pages/glossary/explicit-role.md
  pages/glossary/implicit-role.md
  pages/glossary/included-in-the-accessibility-tree.md
  pages/glossary/semantic-role.md
Labels: Glossary term, Rule, Update, reviewers wanted

#770 fix: add heading for description in rule page
  src/templates/rule.js
Labels: Website code, Website content

#831 aria-labelledby example for image has accessible name (23a2a8)
  _rules/image-has-name-23a2a8.md
Labels: Final call, Rule, Update

#692 Add Accessibility Support about browsers not respecting empty alt (23a2a8)
  _rules/image-has-name-23a2a8.md
  pages/glossary/decorative.md
Labels: Editorial, Rule, Update

#856 Improve note on excluding option
  _rules/form-field-has-name-e086e5.md
Labels: Editorial, Rule, Update, enhancement, reviewers wanted
