Repository act-rules/act-rules.github.io, pull requests merged in 2019-04, with the labels that each got.

#449 Changed succescriteria from 4.1.2 to 1.3.1
  _rules/SC1-3-1-aria-hidden-focus.md
Labels: Final call, March 31 deadline, Rule, bug

#436 Rule update: "aria attribute allowed" and "aria required states and properties"
  _rules/SC4-1-2-aria-state-or-property-allowed.md
  _rules/SC4-1-2-role-has-required-states-and-properties.md
Labels: Final call, March 31 deadline, Rule, bug

#440 Rule update: "HTML page has a title"
  _rules/SC2-4-2-page-has-title.md
Labels: Final call, March 31 deadline, Rule, bug

#439 Rule update: "aria-hidden with focusable content"
  _rules/SC1-3-1-aria-hidden-focus.md
Labels: Final call, March 31 deadline, Rule, bug

#485 chore: update test case names to be hash and not have outcome
  gatsby/create-page-generate-testcases.js
  package.json
Labels: Chore

#468 Update to rule SC1-1-1-image-has-name.md
  _rules/SC1-1-1-image-has-name.md
Labels: Final call, March 31 deadline, Rule

#380 New rule: Document title is descriptive
  _rules/document-title-is-descriptive.md
  package.json
Labels: April 30 deadline, March 31 deadline, Merge ready, Rule

#489 chore: rename files and update associations
  _rules/aria-attr-valid-5f99a7.md
  _rules/aria-hidden-focus-6cfa84.md
  _rules/aria-state-or-property-allowed-5c01ea.md
  _rules/aria-state-or-property-has-valid-value-6a7281.md
  _rules/audio-as-media-alternative-afb423.md
  _rules/audio-have-transcript-2eb176.md
  _rules/audio-only-text-alternative-e7aa44.md
  _rules/autocomplete-valid-73f2c2.md
  _rules/button-has-name-97a4e1.md
  _rules/descriptive-heading-b49b2e.md
  _rules/descriptive-label-cc0f0a.md
  _rules/filename-is-accessible-name-9eb3f6.md
  _rules/form-field-has-name-e086e5.md
  _rules/html-has-lang-b5c3f8.md
  _rules/html-lang-valid-bf051a.md
  _rules/html-xml-lang-match-5b7ae0.md
  _rules/iframe-has-name-cae760.md
  _rules/image-button-has-name-59796f.md
  _rules/image-has-name-23a2a8.md
  _rules/label-content-name-mismatch-2ee8b8.md
  _rules/lang-valid-de46e4.md
  _rules/link-has-name-c487ae.md
  _rules/meta-refresh-bc659a.md
  _rules/no-keyboard-trap-80af7b.md
  _rules/no-keyboard-trap-non-standard-navigation-ebe86a.md
  _rules/no-keyboard-trap-standard-navigation-a1b64e.md
  _rules/page-has-title-2779a5.md
  _rules/role-attribute-has-valid-value-674b10.md
  _rules/role-has-required-states-and-properties-4e8ab6.md
  _rules/unique-attrs-e6952f.md
  _rules/unique-id-3ea0c8.md
  _rules/video-alternative-c5a4ea.md
  _rules/video-audio-alternative-1ec09b.md
  _rules/video-audio-described-1ea59c.md
  _rules/video-description-track-f196ce.md
  _rules/video-has-audio-alternative-eac66b.md
  _rules/video-has-captions-f51b46.md
  _rules/video-media-alternative-ab4d13.md
  _rules/video-only-alternative-c3232f.md
  _rules/video-only-audio-alternative-d7ba54.md
  _rules/video-only-description-track-ac7dc6.md
  _rules/video-only-element-transcript-ee13b5.md
  _rules/video-only-media-alternative-fd26cf.md
  _rules/video-transcript-1a02b0.md
Labels: Chore
