Repository act-rules/act-rules.github.io, pull requests merged in 2019-03, with the labels that each got.

#431 Rename SC4-1-1+SC4-1-2-aria-state-or-property-allowed.md to SC4-1-2-a…
  _rules/SC4-1-2-aria-state-or-property-allowed.md
Labels: March 31 deadline, Rule, bug

#435 Fix broken links in "focusable" glossary term
  pages/glossary/focusable.md
Labels: Glossary term, bug

#410 fix: applicability for unique id rule
  _rules/SC4-1-1-unique-id.md
Labels: March 31 deadline, Rule, bug

#413 Added assumption for SC3-1-2-lang-valid
  _rules/SC3-1-2-lang-valid.md
Labels: Agenda item, March 31 deadline, Rule, enhancement

#263 SC1-1-1-filename-is-valid-accessible-name
  _rules/SC1-1-1-accessible-name-is-image-filename.md
  _rules/SC1-1-1-image-has-name.md
  pages/glossary/decorative.md
Labels: Agenda item, April 30 deadline, Final call, Rule

#442 Glossary: add "Accessibility Support" to "Semantic role" term
  pages/glossary/semantic-role.md
Labels: Glossary term, Merge ready, enhancement

#455 Fix casing of filename
  _rules/SC1-2-video-description-track.md
Labels: Editorial, Merge ready, Rule
