Repository act-rules/act-rules.github.io, pull requests merged in 2019-12, with the labels that each got.

#1038 fix: remove identical failed example for rule `html-page-title-descriptive-c4a8a4`
  _rules/html-page-title-descriptive-c4a8a4.md
Labels: Final Call 1 week

#1029 Change "not whitespace" to "not empty" button-acc-name
  _rules/button-accessible-name-97a4e1.md
Labels: Final Call 1 week

#982 Handle shadow tree and nested iframe for "iframe with identical name serve identical purpose" (4b1c6c)
  _rules/iframe-identical-name-equivalent-purpose-4b1c6c.md
Labels: Final call 2 weeks, Rule Update, reviewers wanted

#1014 Adding WCAG techniques as accessibility requirement (batch 1)
  _rules/aria-hidden-no-focusable-content-6cfa84.md
  _rules/attr-not-duplicated-e6952f.md
  _rules/audio-text-alternative-e7aa44.md
  _rules/auto-play-audio-does-not-exceed-3-seconds-aaa1bf.md
  pages/design/atomic-template-empty.md
  pages/design/composite-template-empty.md
  pages/design/rule-template.md
Labels: Final Call 1 week, General for all rules, reviewers wanted

#1033 Improve image-button-name examples
  _rules/image-button-accessible-name-59796f.md
  test-assets/shared/search-icon.svg
  test-assets/shared/w3c-logo.png
Labels: Final Call 1 week

#1075 Remove --onlyChanged option for jest
  package.json
Labels: test

#1084 test: improve list of ignored words
  __tests__/spelling.js
Labels: test

#1083 test: identifiers and urls used as `link`, `definition`, `linkReference` in markdown exists
  __tests__/hyperlinks.js
  __tests__/link-is-outdated.js
  __tests__/link-reference-has-definition.js
  __tests__/link-to-glossary-term-valid.js
  _rules/explicit-SVG-image-has-name-7d6734.md
  _rules/form-control-label-descriptive-cc0f0a.md
  _rules/iframe-identical-name-equivalent-purpose-4b1c6c.md
  package-lock.json
  package.json
  pages/design/definition-of-done.md
  pages/design/process.md
  pages/glossary/text-content.md
  test-utils/describe-page.js
  test-utils/describe-rule.js
  utils/get-markdown-ast-nodes-of-type.js
  utils/get-markdown-data.js
  utils/unique-array.js
Labels: test
