Repository act-rules/act-rules.github.io, pull requests merged in 2019-09, with the labels that each got.

#760 fix: Add notes on interpretations in rule HTML Page has a title (2779a5)
  _rules/page-has-title-2779a5.md
Labels: Rule, Update

#695 Add many missing links to glossary
  __tests__/hyperlinks.js
  _rules/aria-hidden-focus-6cfa84.md
  _rules/aria-state-or-property-allowed-5c01ea.md
  _rules/audio-as-media-alternative-afb423.md
  _rules/audio-have-transcript-2eb176.md
  _rules/audio-only-text-alternative-e7aa44.md
  _rules/button-has-name-97a4e1.md
  _rules/descriptive-heading-b49b2e.md
  _rules/descriptive-label-cc0f0a.md
  _rules/filename-is-accessible-name-9eb3f6.md
  _rules/form-field-has-name-e086e5.md
  _rules/iframe-has-name-cae760.md
  _rules/iframe-unique-name-4b1c6c.md
  _rules/image-button-has-name-59796f.md
  _rules/image-has-name-23a2a8.md
  _rules/label-content-name-mismatch-2ee8b8.md
  _rules/link-has-name-c487ae.md
  _rules/links-with-identical-names-serve-equivalent-purpose-b20e66.md
  _rules/no-keyboard-trap-80af7b.md
  _rules/no-keyboard-trap-standard-navigation-a1b64e.md
  _rules/role-attribute-has-valid-value-674b10.md
  _rules/role-has-required-states-and-properties-4e8ab6.md
  _rules/video-audio-described-1ea59c.md
  _rules/video-description-track-f196ce.md
  _rules/video-has-audio-alternative-eac66b.md
  _rules/video-has-captions-f51b46.md
  _rules/video-media-alternative-ab4d13.md
  _rules/video-only-alternative-c3232f.md
  _rules/video-only-audio-alternative-d7ba54.md
  _rules/video-only-description-track-ac7dc6.md
  _rules/video-only-element-transcript-ee13b5.md
  _rules/video-only-media-alternative-fd26cf.md
  _rules/video-transcript-1a02b0.md
  _rules/video-with-audio-has-audio-description-1ec09b.md
  _rules/video-with-audio-has-description-or-transcript-c5a4ea.md
  build/create-glossary-usages.js
  pages/glossary/accessible-name.md
  test-utils/describe-page.js
  utils/get-pages-markdown-data.js
  utils/reg-exps.js
Labels: Chore, Editorial, Glossary term, Rule, Update, reviewers wanted

#845 Remove dead link to character
  pages/glossary/matching-characters.md
Labels: Glossary term, Update, reviewers wanted

#791 fix: rule "Autocomplete valid" should be inapplicable to whitespace only attribute value
  _rules/autocomplete-valid-73f2c2.md
Labels: Final call, Rule, Update

#884 chore: Improve glossary detection regexps
  utils/reg-exps.js
Labels: Chore, Editorial, test

#901 chore: remove chore logs from rule changelog
  gatsby/get-node-data.js
Labels: Website code

#822 Rule Update: Lang rules applicability and test cases
  _rules/html-has-lang-b5c3f8.md
  _rules/html-lang-valid-bf051a.md
  _rules/lang-valid-de46e4.md
Labels: Final Call 1 week, Rule, Rule Update

#915 chore: add final call duration to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Editorial

#904 Rename "Form field label is descriptive" (cc0f0a / e0ca31)
  _rules/form-field-accessible-name-is-descriptive-cc0f0a.md
Labels: Blocker, Rule Update

#408 Rule: Page has no orientation lock specified using CSS media queries (b33eff)
  _rules/css-restrict-orientation-b33eff.md
  test-assets/b33eff/style.css
Labels: Final call 2 weeks, Rule, WAI-Tools Year 1.5

#745 Remove `aria-label` from inapplicable test case as it otherwise passes (6a7281)
  _rules/aria-state-or-property-has-valid-value-6a7281.md
Labels: Final call 2 weeks

#933 Move Wip mentions in rules to background
  __tests__/spelling-ignore.yml
  _rules/aria-attr-defined-5f99a7.md
  _rules/aria-hidden-no-focusable-content-6cfa84.md
  _rules/button-accessible-name-97a4e1.md
  _rules/element-lang-valid-de46e4.md
  pages/glossary/accessible-name.md
  pages/glossary/explicit-role.md
  pages/glossary/implicit-role.md
  pages/glossary/included-in-the-accessibility-tree.md
Labels: Editorial

#848 Shadow tree and Iframe example for "Unique id" (3ea0c8)
  _rules/id-value-unique-3ea0c8.md
Labels: Final call 2 weeks, Rule, Rule Update, reviewers wanted

#950 Editorial: Backsticks missing
  _rules/form-control-accessible-name-e086e5.md
Labels: Editorial, reviewers wanted
