Repository act-rules/act-rules.github.io, pull requests merged in 2019-10, with the labels that each got.

#964 "iframe with identical name serve equivalent purpose" (4b1c6c): clean up examples descriptions
  __tests__/spelling-ignore.yml
  _rules/iframe-identical-name-equivalent-purpose-4b1c6c.md
Labels: Editorial, reviewers wanted

#959 Update one example for "links with identical names" (b20e66)
  _rules/links-identical-name-equivalent-purpose-b20e66.md
Labels: Final Call 1 week, Rule Update, reviewers wanted

#935 Default template modifications
  pages/design/atomic-template-empty.md
  pages/design/composite-template-empty.md
  pages/design/rule-template.md
Labels: Editorial, reviewers wanted

#971 Definition wai aria specifications
  __tests__/spelling-ignore.yml
  _rules/aria-attr-defined-5f99a7.md
  _rules/aria-state-or-property-valid-value-6a7281.md
  _rules/form-control-accessible-name-e086e5.md
  _rules/form-control-label-descriptive-cc0f0a.md
  _rules/role-attribute-valid-value-674b10.md
  _rules/role-required-states-and-properties-4e8ab6.md
  pages/glossary/explicit-role.md
  pages/glossary/wai-aria-specifications.md
Labels: Definition, Editorial, Final Call 1 week, General for all rules, reviewers wanted

#417 Rule: Table header cells have corresponding data cells (d0f69e)
  __tests__/spelling-ignore.yml
  _rules/table-header-cells-refer-to-data-cells-d0f69e.md
Labels: Rule, WAI-Tools Year 1.5, reviewers wanted

#947 Change negative to positive description
  _rules/meta-viewport-b4f0c3.md
Labels: Editorial, reviewers wanted

#980 Add assumption of unicity of description (4b1c6c, b20e66)
  _rules/iframe-identical-name-equivalent-purpose-4b1c6c.md
  _rules/links-identical-name-equivalent-purpose-b20e66.md
Labels: Editorial, Rule Update, reviewers wanted

#934 Remove `xml:lang` from language rules (de46e4, b5c3f8, bf051a, 5b7ae0)
  _rules/element-lang-valid-de46e4.md
  _rules/html-page-lang-b5c3f8.md
  _rules/html-page-lang-valid-bf051a.md
  _rules/html-page-lang-xml-lang-match-5b7ae0.md
  pages/glossary/valid-language-subtag.md
Labels: Final call 2 weeks, Rule Update

#987 Fix typo in href in text case
  _rules/links-identical-name-equivalent-purpose-b20e66.md
Labels: reviewers wanted

#567 Name from content (2ee8b8), add substitute math symbols failure
  _rules/visible-label-in-accessible-name-2ee8b8.md
Labels: Final Call 1 week, Rule Update
