Repository act-rules/act-rules.github.io, pull requests merged in 2020-11, with the labels that each got.

#1495 Fix headings of accessible name examples
  pages/examples/accessible-name.md
Labels: Definition, Editorial, reviewers wanted

#1463 "Links with identical accessible names have equivalent purpose" (b20e66): Prepare for TF review
  _rules/links-identical-name-equivalent-purpose-b20e66.md
Labels: Rule Update, reviewers wanted

#1491 "Heading has non empty accessible name" (ffd0e9): prepare for TF review
  _rules/heading-non-empty-accessible-name-ffd0e9.md
Labels: Final Call 1 week, Rule Update

#1473 "ARIA required context role" and "ARIA required owned elements" (ff89c9 / bc4a75): Update note on DPUB due to upcoming changes in 1.1
  _rules/aria-required-context-role-ff89c9.md
  _rules/aria-required-owned-element-bc4a75.md
Labels: Final Call 1 week, Rule Update

#1498 "attribute value": Add link to AAM for value of ARIA attributes
  __tests__/spelling-ignore.yml
  pages/glossary/attribute-value.md
Labels: Definition, reviewers wanted

#1329 New rule: Visible focus
  __tests__/spelling-ignore.yml
  _rules/sequentially-focusable-element-has-visible-focus-oj04fd.md
  pages/glossary/focused.md
  test-assets/focus-visible-oj04fd/script.js
  test-assets/focus-visible-oj04fd/styles.css
Labels: Final call 2 weeks, Rule

#1501 chore: Fix link to test case design from rule design
  pages/design/rule-design.md
Labels: Editorial, Website content, reviewers wanted

#1497 "Element with `role` attribute has required states and properties" (4e8ab6): Put back inclusion in the accessibility tree in Applicability
  _rules/role-required-states-and-properties-4e8ab6.md
Labels: Final Call 1 week, Rule Update

#1504 Remove unused definition
  pages/glossary/rendered-text.md
Labels: reviewers wanted

#1503 Improve definition of "disabled element"
  _rules/text-contrast-afw4f7.md
  pages/glossary/disabled-element.md
Labels: Definition, Final Call 1 week, Rule Update

#832 New Rule: Non-visual location reference alternative
  __tests__/spelling-ignore.yml
  _rules/non-visual-reference-alternative-9bd38c.md
  pages/glossary/visual-reference-words.md
  test-assets/non-visual-reference-alternative-9bd38c/awesome_wide.jfif
  test-assets/non-visual-reference-alternative-9bd38c/columns.css
  test-assets/non-visual-reference-alternative-9bd38c/non_awesome_narrow.jpg
  test-assets/non-visual-reference-alternative-9bd38c/star-with-heading.html
  test-assets/non-visual-reference-alternative-9bd38c/star-without-heading.html
  test-assets/non-visual-reference-alternative-9bd38c/triangle-menu-with-heading.html
  test-assets/non-visual-reference-alternative-9bd38c/triangle-menu-without-heading.html
Labels: Final call 2 weeks, Rule

#1505 Fixing screen reader heuristics issues with examples in "Headers attribute specified on a cell refers to cells in the same table element"
  _rules/table-headers-attribute-refer-to-data-cells-a25f45.md
Labels: Editorial, reviewers wanted

#1383 Rule: Element with `lang` attribute has valid language tag - TF feedback amendments
  _rules/element-lang-valid-de46e4.md
Labels: reviewers wanted
