Repository act-rules/act-rules.github.io, pull requests merged in 2020-02, with the labels that each got.

#1142 Unifying boldness of colons in "Note:"
  _rules/aria-hidden-no-focusable-content-6cfa84.md
  _rules/audio-transcript-2eb176.md
  _rules/auto-play-audio-does-not-exceed-3-seconds-aaa1bf.md
  _rules/auto-play-audio-has-control-mechanism-4c31df.md
  _rules/autocomplete-valid-value-73f2c2.md
  _rules/button-accessible-name-97a4e1.md
  _rules/explicit-SVG-image-has-name-7d6734.md
  _rules/focusable-no-keyboard-trap-80af7b.md
  _rules/focusable-no-keyboard-trap-non-standard-nav-ebe86a.md
  _rules/focusable-no-keyboard-trap-standard-nav-a1b64e.md
  _rules/form-control-accessible-name-e086e5.md
  _rules/form-control-label-descriptive-cc0f0a.md
  _rules/heading-accessible-name-ffd0e9.md
  _rules/heading-descriptive-b49b2e.md
  _rules/html-page-title-2779a5.md
  _rules/html-page-title-descriptive-c4a8a4.md
  _rules/iframe-accessible-name-cae760.md
  _rules/image-accessible-name-23a2a8.md
  _rules/image-button-accessible-name-59796f.md
  _rules/link-accessible-name-c487ae.md
  _rules/links-identical-name-equivalent-purpose-b20e66.md
  _rules/meta-refresh-no-delay-bc659a.md
  _rules/no-auto-play-audio-80f0bf.md
  _rules/text-contrast-afw4f7.md
  _rules/video-captions-f51b46.md
  _rules/video-only-transcript-ee13b5.md
  _rules/video-transcript-1a02b0.md
  _rules/visible-label-in-accessible-name-2ee8b8.md
Labels: Editorial, reviewers wanted

#996 Language input aspect
  _rules/audio-as-media-alternative-afb423.md
  _rules/audio-text-alternative-e7aa44.md
  _rules/audio-transcript-2eb176.md
  _rules/form-control-label-descriptive-cc0f0a.md
  _rules/heading-descriptive-b49b2e.md
  _rules/html-page-title-descriptive-c4a8a4.md
  _rules/iframe-identical-name-equivalent-purpose-4b1c6c.md
  _rules/image-filename-as-accessible-name-9eb3f6.md
  _rules/links-identical-name-equivalent-purpose-b20e66.md
  _rules/video-alternative-for-auditory-eac66b.md
  _rules/video-alternative-for-visual-c5a4ea.md
  _rules/video-as-media-alternative-ab4d13.md
  _rules/video-audio-description-1ea59c.md
  _rules/video-description-track-f196ce.md
  _rules/video-only-alternative-for-visual-c3232f.md
  _rules/video-only-as-media-alternative-fd26cf.md
  _rules/video-only-audio-track-d7ba54.md
  _rules/video-only-description-track-ac7dc6.md
  _rules/video-only-transcript-ee13b5.md
  _rules/video-strict-alternative-for-visual-1ec09b.md
  _rules/video-transcript-1a02b0.md
Labels: Final call 2 weeks, Rule Update

#1127 Correct typo in example
  _rules/links-identical-name-equivalent-purpose-b20e66.md
Labels: Final Call 1 week

#1150 Improve example description of "Id attribute value is unique" (3ea0c8)
  __tests__/spelling-ignore.yml
  _rules/id-value-unique-3ea0c8.md
Labels: Rule Update, reviewers wanted

#1144 Update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Editorial, reviewers wanted

#1102 Consider tabindex in iframe has acc name
  _rules/aria-required-owned-element-bc4a75.md
  _rules/iframe-accessible-name-cae760.md
Labels: Final Call 1 week

#1145 "Id attribute value is unique" (3ea0c8): Remove technique unrelated to the rule
  _rules/id-value-unique-3ea0c8.md
Labels: Rule Update, reviewers wanted

#1147 "Id attribute value is unique" (3ea0c8): Add note about partial coverage of the SC
  _rules/id-value-unique-3ea0c8.md
Labels: Rule Update, reviewers wanted

#1119 Adding WCAG techniques as accessibility mappings (batch 2)
  _rules/auto-play-audio-has-control-mechanism-4c31df.md
  _rules/element-lang-valid-de46e4.md
  _rules/focusable-no-keyboard-trap-80af7b.md
  _rules/focusable-no-keyboard-trap-standard-nav-a1b64e.md
  _rules/form-control-label-descriptive-cc0f0a.md
  _rules/html-page-lang-b5c3f8.md
  _rules/html-page-lang-valid-bf051a.md
  _rules/html-page-title-2779a5.md
  _rules/html-page-title-descriptive-c4a8a4.md
  _rules/id-value-unique-3ea0c8.md
  _rules/iframe-accessible-name-cae760.md
  _rules/image-accessible-name-23a2a8.md
  _rules/image-button-accessible-name-59796f.md
  _rules/image-filename-as-accessible-name-9eb3f6.md
  _rules/link-accessible-name-c487ae.md
  _rules/meta-refresh-no-delay-bc659a.md
Labels: Final Call 1 week, General for all rules

#1153 "HTML page language is valid" (bf051a): Explain assumption
  _rules/html-page-lang-valid-bf051a.md
Labels: Rule Update, reviewers wanted

#1161 Unifying boldness of colons in "Note:"
  pages/glossary/accessible-name.md
  pages/glossary/included-in-the-accessibility-tree.md
  pages/glossary/marked-as-decorative.md
  pages/glossary/visible-text-content.md
  pages/glossary/visible.md
  pages/glossary/wai-aria-specifications.md
  pages/glossary/web-page-html.md
Labels: Definition, reviewers wanted

#1146 "Id attribute value is unique" (3ea0c8): Add title to iframe in example
  _rules/id-value-unique-3ea0c8.md
Labels: Final Call 1 week, Rule Update

#1133 Clarify acc support and assumption for element-lang-valid
  _rules/element-lang-valid-de46e4.md
Labels: Final Call 1 week

#973 Form field label (cc0f0a) update rule
  _rules/form-control-label-descriptive-cc0f0a.md
  pages/glossary/programmatic-label.md
  pages/glossary/visual-context.md
Labels: Final Call 1 week, Rule Update

#1166 Give unique id to examples headings
  pages/glossary/accessible-name.md
  pages/glossary/included-in-the-accessibility-tree.md
  pages/glossary/visible.md
Labels: Definition, reviewers wanted

#1152 "HTML page language is valid" (bf051a): Improve note on why nested context are skipped
  _rules/html-page-lang-valid-bf051a.md
Labels: Editorial, Rule Update, reviewers wanted

#1162 Copy new lang assumption to all languages rules
  _rules/html-page-lang-b5c3f8.md
  _rules/html-page-lang-xml-lang-match-5b7ae0.md
Labels: Rule Update, reviewers wanted

#555 New rule: Link is descriptive (5effbb)
  _rules/descriptive-link-5effbb.md
  pages/glossary/programmatically-determined-link-context.md
  test-assets/5effbb/cart.svg
  test-assets/5effbb/main.png
Labels: Final call 2 weeks, Rule, reviewers wanted

#1156 fix: update accessibility support per feedback (cae760)
  _rules/iframe-accessible-name-cae760.md
Labels: Final Call 1 week

#1099 Improve example descriptions in page title rules (2779a5 / c4a8a4)
  _rules/html-page-title-2779a5.md
  _rules/html-page-title-descriptive-c4a8a4.md
Labels: Agenda item, Editorial, reviewers wanted

#1106 Adjust definition of valid language subtag (de46e4, bf051a, 5b7ae0)
  __tests__/spelling-ignore.yml
  _rules/element-lang-valid-de46e4.md
  _rules/html-page-lang-valid-bf051a.md
  _rules/html-page-lang-xml-lang-match-5b7ae0.md
  pages/glossary/valid-language-subtag.md
Labels: Final call 2 weeks

#1167 Fix syntax of boolean attributes
  _rules/auto-play-audio-does-not-exceed-3-seconds-aaa1bf.md
  _rules/auto-play-audio-has-control-mechanism-4c31df.md
  _rules/no-auto-play-audio-80f0bf.md
Labels: Final Call 1 week, Rule Update

#1082 Improve examples in lang rules (5b7ae0 / bf051a / b5c3f8)
  _rules/html-page-lang-b5c3f8.md
  _rules/html-page-lang-valid-bf051a.md
  _rules/html-page-lang-xml-lang-match-5b7ae0.md
Labels: Final Call 1 week

#412 Rule: Headers attribute only refers to cells in the same table (a25f45)
  __tests__/spelling-ignore.yml
  _rules/table-headers-attribute-refer-to-data-cells-a25f45.md
Labels: Final call 2 weeks, Rule, reviewers wanted

#1187 Add missing backticks to rule names
  _rules/auto-play-audio-does-not-exceed-3-seconds-aaa1bf.md
  _rules/auto-play-audio-has-control-mechanism-4c31df.md
  _rules/meta-viewport-b4f0c3.md
  _rules/no-auto-play-audio-80f0bf.md
Labels: Editorial, reviewers wanted

#1190 Add note to explain why disabled fields are applicable (e086e5)
  _rules/form-control-accessible-name-e086e5.md
Labels: Rule Update, reviewers wanted
