Repository act-rules/act-rules.github.io, pull requests merged in 2020-04, with the labels that each got.

#1239 color-contrast: script issue in passed example 10
  _rules/text-contrast-afw4f7.md
Labels: Final Call 1 week

#727 New rule: Error message is descriptive (b1e6dc)
  __tests__/spelling-ignore.yml
  _rules/invalid-form-field-value-36b590.md
  pages/glossary/form-field-error-indicator.md
Labels: Final call 2 weeks, Rule, reviewers wanted

#693 New Rule: Links with identical names and context serve equivalent purpose (fd3a94)
  _rules/links-with-identical-names-and-context-serve-equivalent-purpose-fd3a94.md
Labels: Final call 2 weeks, Rule, reviewers wanted

#1189 Handling Presentational role conflict resolution
  __tests__/spelling-ignore.yml
  _rules/aria-required-context-role-ff89c9.md
  _rules/aria-required-owned-element-bc4a75.md
  _rules/aria-state-or-property-permitted-5c01ea.md
  _rules/autocomplete-valid-value-73f2c2.md
  _rules/button-accessible-name-97a4e1.md
  _rules/descriptive-link-5effbb.md
  _rules/form-control-accessible-name-e086e5.md
  _rules/form-control-label-descriptive-cc0f0a.md
  _rules/heading-accessible-name-ffd0e9.md
  _rules/heading-descriptive-b49b2e.md
  _rules/image-accessible-name-23a2a8.md
  _rules/image-filename-as-accessible-name-9eb3f6.md
  _rules/link-accessible-name-c487ae.md
  _rules/links-identical-name-equivalent-purpose-b20e66.md
  _rules/links-with-identical-names-and-context-serve-equivalent-purpose-fd3a94.md
  _rules/table-header-cells-refer-to-data-cells-d0f69e.md
  _rules/table-headers-attribute-refer-to-data-cells-a25f45.md
  _rules/text-contrast-afw4f7.md
  _rules/visible-label-in-accessible-name-2ee8b8.md
  pages/glossary/hidden-state.md
  pages/glossary/marked-as-decorative.md
  pages/glossary/semantic-role.md
Labels: Definition, Final call 2 weeks, General for all rules

#1286 chore: update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: reviewers wanted

#1288 Correcting typos in semantic role definitions
  pages/glossary/hidden-state.md
  pages/glossary/semantic-role.md
Labels: Definition, Editorial, reviewers wanted

#1274 Fix expectation to exclude self-reference
  _rules/table-headers-attribute-refer-to-data-cells-a25f45.md
Labels: Final Call 1 week, Rule Update

#1272 All table header cells have assigned data cells (d0f69e): Fix Passed example 4
  _rules/table-header-cells-refer-to-data-cells-d0f69e.md
Labels: Final Call 1 week, Rule Update

#1291 Remove marked decorative
  _rules/image-accessible-name-23a2a8.md
  pages/glossary/implicit-role.md
  pages/glossary/marked-as-decorative.md
Labels: Definition, Editorial, reviewers wanted
