Repository act-rules/act-rules.github.io, pull requests merged in 2021-04, with the labels that each got.

#1564 Update ARIA state or property is permitted- `aria-label` described as state and not property
  _rules/aria-state-or-property-permitted-5c01ea.md
Labels: reviewers wanted

#1557 updated video failed example 1
  _rules/video-alternative-for-visual-c5a4ea.md
Labels: Editorial, Rule Update, reviewers wanted

#1565 "Text inheriting its programmatic language from": Use correct name for sub-definition
  pages/glossary/text-inheriting-language.md
Labels: Definition, Editorial, reviewers wanted

#1556 Move notes to background
  _rules/html-page-title-descriptive-c4a8a4.md
Labels: Editorial, Rule Update, reviewers wanted
