Repository act-rules/act-rules.github.io, pull requests merged in 2021-11, with the labels that each got.

#1735 Update html-page-non-empty-title-2779a5.md
  _rules/html-page-non-empty-title-2779a5.md
Labels: Editorial

#1691 "Visible label is part of accessible name" [2ee8b8]: add assumption on (no) missing resources
  _rules/visible-label-in-accessible-name-2ee8b8.md
Labels: Rule Update, Review Call 1 week

#1717 "Image button has non-empty accessible name" [59796f]: Fail default name ("Submit Query")
  _rules/button-non-empty-accessible-name-97a4e1.md
  _rules/image-button-non-empty-accessible-name-59796f.md
Labels: Rule Update, Review Call 1 week

#1745 Add note on designing inapplicable test cases
  pages/design/test-cases.md
Labels: Editorial, reviewers wanted
