Repository act-rules/act-rules.github.io, pull requests merged in 2021-02, with the labels that each got.

#1528 New rule: Link name (alone) is descriptive
  _rules/link-alone-descriptive-aizyf1.md
Labels: Final call 2 weeks, Rule

#1527 New rule: Meta refresh has no delay, no exception
  _rules/meta-refresh-no-delay-no-exception-bisz58.md
Labels: Final call 2 weeks, Rule

#1526 New rule: Color contrast enhanced
  _rules/text-contrast-enhanced-09o5cg.md
  pages/glossary/semantic-widget.md
Labels: Final call 2 weeks, Rule

#1515 new rule: iframe with negative tabindex has no interactive elements
  _rules/iframe-not-focusable-has-no-interactive-content-akn7bn.md
Labels: Final Call 1 week

#1544 fix URL in meta-refresh rules
  _rules/meta-refresh-no-delay-bc659a.md
  _rules/meta-refresh-no-delay-no-exception-bisz58.md
Labels: reviewers wanted

#1538 "Image filename is accessible name for image" (9eb3f6): Add deprecated tag in title and metadata
  _rules/image-filename-as-accessible-name-9eb3f6.md
Labels: Final call 2 weeks

#421 New Rule: 2.4.1 Bypass Blocks (cf77f2)
  __tests__/spelling-ignore.yml
  _rules/autocomplete-valid-value-73f2c2.md
  _rules/block-collapsible-3e12e1.md
  _rules/bypass-blocks-cf77f2.md
  _rules/document-has-headings-for-non-repeated-content-047fe0.md
  _rules/document-has-instrument-to-non-repeated-content-ye5d6e.md
  _rules/document-has-landmark-with-non-repeated-content-b40fd1.md
  _rules/iframe-not-focusable-has-no-interactive-content-akn7bn.md
  pages/glossary/block-of-content.md
  pages/glossary/block-of-repeated-content.md
  pages/glossary/just-before.md
  pages/glossary/non-repeated-content.md
  pages/glossary/perceivable-content.md
  pages/glossary/semantic-link.md
  test-assets/bypass-blocks-cf77f2/chapter1.html
  test-assets/bypass-blocks-cf77f2/chapter2.html
  test-assets/bypass-blocks-cf77f2/click-on-enter.js
  test-assets/bypass-blocks-cf77f2/peach-garden-oath.jpg
  test-assets/bypass-blocks-cf77f2/styles.css
  test-assets/bypass-blocks-cf77f2/toggle-display.js
Labels: Final call 2 weeks, Rule

#1521 New rule: HTML element language subtag matches language
  _rules/element-lang-matches-default-language-off6ek.md
  pages/examples/element-language.md
  pages/glossary/default-page-language.md
  pages/glossary/most-common-language.md
  pages/glossary/text-inheriting-language.md
Labels: Final call 2 weeks, Rule

#1522 New rule: Image contains no text (0va7u6)
  __tests__/spelling-ignore.yml
  _rules/image-no-text-0va7u6.md
  pages/glossary/embedded-image.md
  pages/glossary/rendered-image-resource.md
  test-assets/0va7u6/bigA.png
  test-assets/0va7u6/books.jpg
  test-assets/0va7u6/button.jpg
  test-assets/0va7u6/ivanhoe.png
  test-assets/0va7u6/smallA.png
  test-assets/0va7u6/textimage.jpg
  test-assets/0va7u6/times_square.jpg
  test-assets/0va7u6/welcome.png
Labels: Final call 2 weeks, Rule
