Repository act-rules/act-rules.github.io, pull requests merged in 2021-01, with the labels that each got.

#1412 Rule: Text spacing via CSS is above minimum value or not set to `!important` (24afc2, 78fd32, 9e45ec)
  __tests__/spelling-ignore.yml
  _rules/letter-spacing-not-important-24afc2.md
  _rules/line-height-not-important-78fd32.md
  _rules/word-spacing-not-important-9e45ec.md
Labels: Final call 2 weeks, Rule

#1509 new rule: Menuitem has non-empty accessible name
  __tests__/spelling-ignore.yml
  _rules/menuitem-non-empty-name-m6b1q3.md
  test-assets/shared/file.svg
Labels: Final call 2 weeks

#1529 Update background in aria-required-context
  _rules/aria-required-context-role-ff89c9.md
Labels: reviewers wanted

#1436 Update contribute page
  pages/contribute.md
  pages/contribute/join.md
  pages/contribute/propose-rules.md
  pages/contribute/rule-feedback.md
Labels: reviewers wanted

#1534 Autocomplete attribute has valid value- editorial changes in response to TF feedback
  _rules/autocomplete-valid-value-73f2c2.md
Labels: ACT TF request, Rule Update, reviewers wanted

#1532 "Text has minimum contrast" (afw4f7): small fixes
  _rules/text-contrast-afw4f7.md
  pages/glossary/semantic-widget.md
Labels: Final Call 1 week, Rule Update

#1530 "Link in context is descriptive" (5effbb): small fixes
  _rules/link-in-context-descriptive-5effbb.md
  pages/glossary/semantic-link.md
Labels: Final Call 1 week, Rule Update

#1537 "`role` attribute has valid value" (674b10): map to 1.3.1
  _rules/role-attribute-valid-value-674b10.md
Labels: Final Call 1 week, Rule Update

#1533 "`meta` element has no refresh delay" (bc659a): modernise and small fixes
  __tests__/spelling-ignore.yml
  _rules/meta-refresh-no-delay-bc659a.md
Labels: Final Call 1 week, Rule Update
