Repository act-rules/act-rules.github.io, pull requests merged in 2022-07, with the labels that each got.

#1863 Update WAI-ARIA specifications to use WAI-ARIA 1.2
  pages/glossary/wai-aria-specifications.md
Labels: reviewers wanted, WAI-ARIA 1.2

#1878 Removes 'working draft' from references to ARIA in HTML
  _rules/aria-attr-defined-5f99a7.md
  _rules/aria-state-or-property-permitted-5c01ea.md
  pages/glossary/explicit-role.md
Labels: reviewers wanted, WAI-ARIA 1.2

#1741 Remove the assumption on Language being found and understood
  _rules/audio-as-media-alternative-afb423.md
  _rules/audio-transcript-2eb176.md
  _rules/document-has-instrument-to-non-repeated-content-ye5d6e.md
  _rules/form-field-label-descriptive-cc0f0a.md
  _rules/heading-descriptive-b49b2e.md
  _rules/html-page-title-descriptive-c4a8a4.md
  _rules/iframe-identical-name-equivalent-purpose-4b1c6c.md
  _rules/image-accessible-name-descriptive-qt1vmo.md
  _rules/image-filename-as-accessible-name-9eb3f6.md
  _rules/link-alone-descriptive-aizyf1.md
  _rules/link-in-context-descriptive-5effbb.md
  _rules/links-identical-name-equivalent-purpose-b20e66.md
  _rules/links-with-identical-names-and-context-serve-equivalent-purpose-fd3a94.md
  _rules/non-visual-reference-alternative-9bd38c.md
  _rules/video-as-media-alternative-ab4d13.md
  _rules/video-audio-description-1ea59c.md
  _rules/video-description-track-f196ce.md
  _rules/video-only-as-media-alternative-fd26cf.md
  _rules/video-only-audio-track-d7ba54.md
  _rules/video-only-description-track-ac7dc6.md
  _rules/video-only-transcript-ee13b5.md
  _rules/video-transcript-1a02b0.md
Labels: Rule Update, reviewers wanted

#1889 Improving some assumptions
  _rules/heading-descriptive-b49b2e.md
  _rules/video-only-audio-track-d7ba54.md
  _rules/video-only-description-track-ac7dc6.md
Labels: Editorial, reviewers wanted

#1896 Update dependencies
  _rules/__tests__/testcase-html-hint.js
  package-lock.json
  package.json
Labels: dependencies
