Repository act-rules/act-rules.github.io, pull requests merged in 2022-03, with the labels that each got.

#1444 Update aria hidden focus 6cf184
  __tests__/spelling-ignore.yml
  _rules/aria-hidden-no-focusable-content-6cfa84.md
  pages/glossary/focusable.md
  pages/glossary/focused.md
Labels: Rule Update, Review call 2 weeks, reviewers wanted

#1797 Update front matter of multiple rules to acknowledge source of used assets
  _rules/aria-state-or-property-permitted-5c01ea.md
  _rules/audio-as-media-alternative-afb423.md
  _rules/audio-or-video-avoids-automatically-playing-audio-80f0bf.md
  _rules/audio-text-alternative-e7aa44.md
  _rules/audio-transcript-2eb176.md
  _rules/auto-play-audio-does-not-exceed-3-seconds-aaa1bf.md
  _rules/auto-play-audio-has-control-mechanism-4c31df.md
  _rules/object-has-acessible-name-8fc3b6.md
  _rules/video-alternative-for-auditory-eac66b.md
  _rules/video-alternative-for-visual-c5a4ea.md
  _rules/video-as-media-alternative-ab4d13.md
  _rules/video-audio-description-1ea59c.md
  _rules/video-captions-f51b46.md
  _rules/video-description-track-f196ce.md
  _rules/video-only-alternative-for-visual-c3232f.md
  _rules/video-only-as-media-alternative-fd26cf.md
  _rules/video-only-audio-track-d7ba54.md
  _rules/video-only-description-track-ac7dc6.md
  _rules/video-only-transcript-ee13b5.md
  _rules/video-strict-alternative-for-visual-1ec09b.md
  _rules/video-transcript-1a02b0.md
  test-assets/.DS_Store
Labels: Rule Update, reviewers wanted

#1800 image name descriptive: Improve the examples
  _rules/image-accessible-name-descriptive-qt1vmo.md
Labels: Review Call 1 week

#1803 Update implementation pages for ACT implementor
  __tests__/spelling-ignore.yml
  pages/implementations/mapping.md
  pages/implementations/overview.md
  pages/implementations/testcases.md
  pages/implementations/tools.md
  pages/implementations/wcag-em-tool.md
Labels: reviewers wanted

#1558 update video passed example 4
  _rules/video-alternative-for-visual-c5a4ea.md
Labels: Rule Update, Editorial, reviewers wanted
