Repository act-rules/act-rules.github.io, pull requests merged in 2023-02, with the labels that each got.

#2017 Autocomplete: include webauthn token example
  __tests__/spelling-ignore.yml
  _rules/autocomplete-valid-value-73f2c2.md
Labels: Review Call 1 week

#2011 Add 2.4.4 as secondary to link-identical-name-equivalent-purpose
  _rules/links-identical-name-equivalent-purpose-b20e66.md
Labels: reviewers wanted

#1978 Contrast small fixes
  __tests__/spelling-ignore.yml
  _rules/text-contrast-afw4f7.md
  _rules/text-contrast-enhanced-09o5cg.md
  pages/glossary/highest-possible-contrast.md
Labels: Rule Update, Review call 2 weeks

#2003 Update URL for definition of 'web page' on HTML page has non empty title
  _rules/html-page-non-empty-title-2779a5.md
Labels: Definition

#2018 "meta refresh" [bc659a, bisz58]: Fix missing negation in expectation, align expectations
  _rules/meta-refresh-no-delay-bc659a.md
  _rules/meta-refresh-no-delay-no-exception-bisz58.md
Labels: Rule Update, Review Call 1 week

#2019 "Iframe element has non-empty accessible name" [cae760]: use `tabindex`
  _rules/iframe-non-empty-accessible-name-cae760.md
Labels: Rule Update, Review Call 1 week

#2020 "HTML page has lang attribute" (b5c3f8): Improve examples
  _rules/html-page-lang-b5c3f8.md
Labels: Rule Update, Review Call 1 week

#1742 Add rotate:90deg as failure of orientation of page not restricted rule [b33eff]
  _rules/css-restrict-orientation-b33eff.md
Labels: Review call 2 weeks, reviewers wanted

#2027 Autocomplete valid: Replace "last" by "next" in expectation
  _rules/autocomplete-valid-value-73f2c2.md
Labels: Rule Update, Review Call 1 week

#1907 Update autocomplete-valid-value-73f2c2.md
  _rules/autocomplete-valid-value-73f2c2.md
Labels: Rule Update, Review call 2 weeks, reviewers wanted

#2035 Add 1.4.10 as a secondary S.C.
  _rules/meta-viewport-b4f0c3.md
Labels: Editorial
