Repository act-rules/act-rules.github.io, pull requests merged in 2024-04, with the labels that each got.

#2173 [chore]: Run prettier
  .github/workflows/chair-accounts.md
  _rules/image-no-text-0va7u6.md
  _rules/links-with-identical-names-and-context-serve-equivalent-purpose-fd3a94.md
  _rules/visible-label-in-accessible-name-2ee8b8.md
  pages/design/process.md
  pages/glossary/embedded-image.md
  pages/glossary/included-in-the-accessibility-tree.md
  pages/glossary/inert.md
  pages/glossary/rendered-image-resource.md
  test-assets/links-with-identical-names-serve-equivalent-purpose-b20e66/contact-us.html
Labels: reviewers wanted

#2159 Add background info to meta refresh rules (bc659a, bisz58)
  _rules/meta-refresh-no-delay-bc659a.md
  _rules/meta-refresh-no-delay-no-exception-bisz58.md
Labels: Rule Update, Review Call 1 week

#2158 Update sources in inapplicable example 2 (4c31df)
  _rules/auto-play-audio-has-control-mechanism-4c31df.md
Labels: Rule Update, Review Call 1 week

#2121 Clarified and included CJK requirements in large text definition and updated rules affected by this change
  __tests__/spelling-ignore.yml
  __tests__/spelling.js
  pages/glossary/large-scale-text.md
Labels: Review call 2 weeks
